{% for item in site.data.demos %}
<p data-height="{{ item.height }}" data-theme-id="dark" data-slug-hash="{{ item.code }}" data-default-tab="result" data-user="mvaneijgen" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/mvaneijgen/pen/bpZNgK/">Masonry equal heights responsive with view width</a> by Mitchel van Eijgen (<a href="http://codepen.io/mvaneijgen">@mvaneijgen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
{% endfor %}
